[2013-04-28 11:05] Reggino opened #2 "Unflatten into arrays?"
Hi!

Great work on flat. I do have a question though: would it be possible to `unflatten` something back into a 'real' array? E.g.

[code]

Now becomes

[code]

And that is great! But when using unflatten to reverse this, we get:

[code]

Would it be possible to unflatten back into arrays instead of regular objects when numeric keys are found in the object?

[2013-04-30 10:57] #2 closed, assigned to nobody

[2014-02-16 23:35] kvz opened #6 "It seems like flat is too eager to make arrays."
Hi, first of all thanks a lot for making flat, it's exactly what I was looking for.

I think I might have found an issue. When being passed this object:

[code]

The resulting `unflatten`ed structure looks like this:

[code]

My guess is that `flat` too eagerly tries to look for numbers in keys as it wants to forge arrays for those.

Let me know if I'm overlooking something.

Best,
Kevin

[2014-02-17 00:31] #6 closed, assigned to nobody

[2014-03-10 19:25] darky opened #7 "Universal support"
Now flatjs suggests, that it uses in nodejs. But would be pretty if you check AMD and browser too.

[2014-05-07 13:05] kvz opened #9 "unflatten bug?"
Hi,

I love your module, I've found many usecases for it already but now  I've stumbled up what looks like a bug.

When I try to run this code:

[code]

I get the following trace:

[code]

My versions:

[code]

Not sure if you're into coffeescript so I'll add the js snippet too:

[code]

[2014-06-14 15:28] #7 closed, assigned to nobody

[2014-07-24 21:59] lxe opened #13 ".flatten doesn't preserve empty objects."
[code]

will return

[code]

instead the expected:

[code]

Edit:

To elaborate. It might *seem* as objects imply nesting, but if we don't account for empty objects, flatteining then deflattening an object will not preserve the original object structure.

In this example, doing `flat.unflatten(flat.flatten(o))` will not retain the 'empty.value.nested' tree.

[2014-07-24 22:09] lxe opened #15 "Missing license"
If possible, can you please add a LICENSE file, or place the BSD license in the README? Thank you!

[2014-07-25 01:54] #15 closed, assigned to nobody

[2014-09-19 17:47] KyleAMathews opened #20 "Was this commit published to NPM?"
https://github.com/hughsk/flat/commit/9ff21255f3eae2c11c2bd3c0ee81db348e5a4756

Because I still have to use `flat.flatten`

[2014-09-28 02:23] #20 closed, assigned to nobody

[2014-09-30 07:16] micovery opened #22 "Object turns into an array after unflattening"
[code]

Outputs

[code]

Not sure how often people would use integers as object keys, but is a valid case nonetheless.

I realize that yes, you can pass `{object:true}` to unflatten, and it will not automatically assume it's an array, but then you get the opposite behavior. i.e. "Arrays turn into objects".

A more generic solution would be to use square brackets in the flattened format, where:

`o

[2015-01-14 03:17] #13 closed

[2015-01-14 03:23] #9 closed

[2015-01-14 03:26] timoxley commented on #22
bump

[2015-01-24 18:36] timoxley opened #24 "circular objects blow stack"
need to https://www.npmjs.com/package/destroy-circular or something

[2015-02-26 23:16] A opened #25 "TypeError with unflatten when destination property is null"
[code]

Probably, it happens because of `'object' === typeof null`, but I didn't see the source

[2015-03-20 18:53] user1702 opened #26 "Unflatten not happening properly"
I have tried the below code, where "c.d": 20 turns into "c: { d: 20 }". I have used {object:true} which also didnt help me.

var flatten = require('flat'),
    unflatten = require('flat').unflatten;

var obj1 = flatten({a: 10, b: 15, "c.d": 20, e: 50})

var res = flatten(obj1)
console.log(res) //{ a: 10, b: 15, 'c.d': 20, e: 50 }
var fin = unflatten(res,{object: true});
console.log(fin) //{ a: 10,

[2015-03-20 19:00] timoxley commented on #26
Try changing the delimiter:
[code]

[2015-03-21 08:48] user1702 commented on #26
Thanks timoxley. It worked for the above object but not working for my below actual object.

Below is the flattened object which I am trying to unflatten.
var obj = {'Query_obj._id': 1,
  'data_to_update.$inc.stock': 5999,
  'data_to_update.$set.item': 'ABC123',
  'data_to_update.$set.info.publisher': '2222',
  'data_to_update.$set.tags.0': 'software',
  'data_to_update.$set.ratings.1.by': 'xyz',

[2015-04-01 09:37] timoxley commented on #26
@user1702 I don't think that's possible at the moment, how would it decide when `.` means "keep in key" and when it means "new level"?

[2015-05-27 21:43] timoxley commented on #26
Closing as abandoned. Please reopen if you have further queries.

[2015-05-27 21:43] #26 closed

[2015-08-26 07:57] abhinav76 opened #32 "Maximum call stack size exceeded"
i tried to use flatten on the data retrieved from the database
but recieved this error
<code>
Unhandled rejection RangeError: Maximum call stack size exceeded
    at new Boolean (native)
    at Boolean.toString (native)
    at /opt/lampp/htdocs/node-fropper/node_modules/flat/index.js:17:44
    at Array.forEach (native)
    at step (/opt/lampp/htdocs/node-fropper/node_modules/flat/index.js:14:25)

[2015-08-26 08:02] kulicuu commented on #32
you'll want a `process.nextTick()` somewhere in there.

[2015-08-26 08:13] abhinav76 commented on #32
<code>
var member=Member.build();
	member.retrieveProfile(username).spread(function(members,error){
		if(members){
			flatten(members);
			res.json(members);
		} else{
			res.send(401,"No Profile Found");
		}
	},function(error){
		res.send(error);
	});
</code>
here is my code

[2015-08-26 10:20] kulicuu commented on #32
I'm sorry, based on that I can't tell and haven't the time for a real inquiry.  I still think you are going to need to insert `process.nextTick()` somewhere.  Best I can offer for now, sorry.

[2015-08-26 13:06] stockholmux commented on #32
@abhinav76 Can you `console.log` your `members` variable before you call `flatten`?

[2015-08-27 05:41] abhinav76 commented on #32
yes it gives me all the data @stockholmux
and res.json give me the data like this:
<code>
{
f_name="",
profile={
    "member_username"="",
    "some other field "=""
}

}
</code>

[2015-08-27 10:16] stockholmux commented on #32
@abhinav76 what you've provided isn't a JS object and that doesn't look like the real output of a `console.log`. You can redact user info if you need to, but seeing the actual result of the log will help us understand why you're getting the error and maybe help you out.

My hunch is there is a circular reference somewhere in your object. This is the only way I could get a `RangeError: Maximum call

[2015-08-27 11:10] abhinav76 commented on #32
hey this my console output @stockholmux
<code>
{ dataValues:
   { f_name: '',
     profile:
      { dataValues: [Object],
        _previousDataValues: [Object],
        _changed: {},
        __options: [Object],
        options: [Object],
        hasPrimaryKeys: true,
        __eagerlyLoadedAssociations: [],
        isNewRecord: false,
        profile_personality: [Object] } },
  _previousDataValu

[2015-08-27 13:03] stockholmux commented on #32
Okay. Now it's starting to make sense. Looks like you've got quite a bit more than just data in that structure - it has functions, needlessly deep references and most likely circular references. You'll need to to quite a bit of cleanup on your data before you `flat` it. I haven't used sequelize in years, but I'm guessing there is a way to get just the data from that giant structure - a good deal o

[2015-10-01 22:47] aaronz8 opened #35 "[whoops]"
[wrong repo]

[2015-10-01 23:24] #35 closed

[2015-10-06 03:57] joshgillies commented on #22
Any thoughts on resolving this? Same issue as described in the original issue being experienced over here.

[2016-01-30 21:49] timoxley commented on #32
@abhinav76 Going to close this, please reopen if you think flat could help out more.

@stockholmux thanks for helping!

[2016-01-30 21:49] #32 closed

[2016-01-30 22:53] #25 closed

[2016-01-30 22:57] timoxley commented on #25
Released in 2.0.0. I've bumped major on this because the behaviour around overwriting non-object values is changed from 1.x.

[2016-01-31 16:26] A commented on #25
Thank you)

[2016-03-08 16:51] seneschal2 opened #40 "Supported char sets"
What character sets are supported?  Seems to abort with words like "apéritif"

[2016-04-07 16:22] testerez opened #42 "{object: true} should be the default"
IMHO, `{object: true}` should be the default. I spend some time trying to figure out why I had an array containing 8004 * `null`... I way simply flattening an object containing this key `messages.upsells.errors.8005`

Thanks for the good work!

[2016-04-07 17:12] testerez commented on #42
Moreover, the conversion to array should probably be applied only when all keys are numeric. Actual behaviour, converts: `{a.1:1, a.b:2}` to `{a:[null, 1]}`

[2016-04-08 08:47] lipp opened #43 "unflatten depends on "key" order"
this is a bit surprising to me, but apperently the order in which object entries are created affect the output of `unflatten`
see here:
https://tonicdev.com/lipp/flat-issue

a solution seems to be to itereate through the object keys sorted by length.

[2016-04-25 17:58] wutu opened #45 "Inconsistent behavior according to the node version"
Hello, if I use this:

[code]

on Node v0.10.26 returns "undefined"
on Node v4.4.1 returns "{}"

[2016-04-30 18:41] schang933 commented on #45
Similar issue:
Upgraded from Node v5.10.1 to v6.0.0 and flat doesn't seem to play well with AWS. Works as intended after downgrading to v5.11.0. General idea of code below. AWS API call is [here](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB/DocumentClient.html#update-property).

[code]

It seems like the reference to the flattened object's value is lost. Tried using the [deepcop

[2016-05-18 21:47] nickpape opened #48 "maxDepth only working on first element"
Hey everyone,

It appears that when using maxDepth, only the first key value is being properly flattened. You can easily see this behaviour if you update the `customDepth` test to:

[code]

Instead of the expected result:

[code]

You instead receive:

[code]

The issue appears to be that the `currentDepth` variable is only incremented, and never reset or decremented.

I have created a pull reques

[2016-05-21 09:51] vjpr opened #49 "overwrite should allow custom key to store overwritten value in to"
[code]

[2016-08-16 04:45] richardschneider commented on #40
Could you give an example? What do you mean by `abort` (stack trace would help)

[2016-09-19 16:17] Stijnkool opened #50 "When a property name is a number, it is truncated after unflatten"
When I have an object like `{'a.b.0001': 'test'}` after unflatten it becomes `{a: {b: {1: 'test'}}}`.
And it should be `{a: {b: {'0001': 'test'}}}`
I believe this to be bug.

[2016-11-04 21:42] kristianmandrup opened #51 "Major rewrite in progress"
I'm doing a major rewrite using ES6 on this [flat#dev](https://github.com/kristianmandrup/flat/tree/dev) branch

The current implementation was getting out of hand and full of "garbage" to make it very difficult to make sense of. Let me know if you want to help out in this effort.
I'm planning to use `flat` in my [json-operator](https://github.com/kristianmandrup/json-operator)

[2016-11-05 22:22] kristianmandrup commented on #51
I've been trying to compose the functionality into more granular functions, classes and encapsulated state. When it works, I would like to play with the ability to divide and conquer, ie. to process the flatten/unflatten via async tasks that are merged into the result.
Would love if someone would like to help out on this. Cheers!

[2016-11-24 10:35] maximilianschmitt commented on #51
This is great!

[2016-12-01 01:37] RomansBermans opened #52 "Almost a one-liner with ES6"
Hey @hughsk

We are using your flat module at Echo. Thanks a lot for the amazing work!

I got a bit inspired today to try to make the flatten function as a one-liner. Have a look below:

[code]
Tests:
[code]

Original code here https://github.com/RomansBermans/transformer

[2017-01-13 20:22] freddi301 commented on #52
it leaves Date objects behind

[2017-01-18 10:27] aalexgabi commented on #24
I can't believe it. The logging library bunyan-gelf uses it (https://github.com/craftti/bunyan-gelf/blob/master/lib/bunyan-gelf.js) and it crashes the process. This is a serious problem in my opinion because depending on the data you send to a function you process crashes.

[2017-03-21 12:26] syabro commented on #42
Maybe use `arr[0].item` instead of `arr.0.item` to make stuff clear?

[2017-03-24 13:38] mattlockyer opened #54 "Default Delimiter Should be "_""
This allows for dot notation after the flatten. Simple fix. Thanks for a great utility!

[2017-05-24 13:38] pmvrmc opened #55 "Add flat-stop-condition function"
Hello Community,

Have you thought about adding a function option that could act as a flat stop condition?

I'm having issues with flattening an ObjectId (from MongoDB). Currently Flat will split this in bsonType and id (with unknown chars).

If I could pass down a function to Flat that would receive the object to process and decide if it should be processed or continue it would be great no?

What

[2017-06-19 03:14] vcxiaohan opened #56 "Array unflatten isn't correct"
[code]
I want `[{a: 1}, {b: 2}]`, but not `{ '0': { a: 1 }, '1': { b: 2 } }`

[2017-06-20 13:45] dmmulroy commented on #56
A simple possible workaround is that you could wrap the obj array in an additional array so you get:
[code]

[2017-06-21 09:17] #56 closed

[2017-07-17 15:40] evseevnn commented on #50
same problem

[2017-07-25 07:13] #43 closed

[2017-07-30 13:57] vcxiaohan opened #60 "ObjectId from mongodb will not correct by using flatten methods"

[2017-08-01 15:06] antony commented on #60
Had the same problem, so I fixed it in https://github.com/hughsk/flat/pull/61 - let me know if it works for you

[2017-08-01 15:07] antony commented on #55
Looks like everybody is having the same issue.

I see this mentioned in https://github.com/hughsk/flat/issues/60

I've fixed it in https://github.com/hughsk/flat/pull/61

[2017-08-01 15:09] antony commented on #51
I've broken apart the flatten method as part of https://github.com/hughsk/flat/pull/61

I think it is worth moving some of these nested functions into separate files

[2017-08-02 01:57] vcxiaohan commented on #60
It not work for me!
The mongodb data like this:
[code]
When I use `var flat = require('flat'); var _obj = flat.flatten(obj)`, the result like this:
[code]
Suggest: You just need to convert type from ObjectId to String by coding like this:
[code]
And I will try again after you fixed this.

[2017-08-02 06:44] antony commented on #60
Works fine for me, It's already in production on our application :)

You need to:
[code]

Then use the following code:

[code]

There are tests covering the code in the pull request, so feel free to inspect those to help you.

The code you have suggested, by the way, has a number of issues:
  1. .toString does not unwrap ObjectIDs. valueOf does. .toString() on its own will print out the object.

[2017-08-02 11:46] deividfortuna commented on #50
Solved on pull request #57

[2017-09-02 23:05] dayres opened #63 "Conversion Problem"
It may just be me doing something stupid however I'm converting the following:

`{
 app_preferences: {
   test: 1
 },
 settings: {
   network: {
     appnetwork: {
       device: '/dev/eth1'
     },
     devnetwork: {
       device: '/dev/eth0'
     }
   }
 }
}
`

The object flatten is producing is this:

`{"0":123,"1":10,"2":32,"3":110,"4":100,"5":109,"6":95,"7":112,"8":114,"9":101,"10":102,"11":

[2017-09-03 00:18] richardschneider commented on #63
try console.log(config_params)

On 3 September 2017 at 11:05, Dave <notifications@github.com> wrote:

[2017-09-03 19:34] dayres commented on #63
I end up with the same output.

[2017-09-09 22:29] antony commented on #63
Check the encoding of your file is UTF-8 not UTF-16.

By the way, you can just `require('config.json')`, node can read json files natively.

[2017-09-09 22:33] antony commented on #54
The generally accepted notation for object graphs is `.` - using underscore is incongruous with the majority of other libraries and utilities.

[2017-09-11 19:14] juanjoDiaz commented on #60
In #64 I've proposed yet another solution using the `toJSON`  method.
Since flatten is a library to flatten JSON objects, it makes sense to use the `toJSON` method which is used by browsers/node JSON utility object.

[2017-09-11 19:23] antony commented on #60
@juanjoDiaz your solution is fine - however its scope is very small - there are precious few objects which are generous enough to provide a `toJSON` method. I'm also not sure it's always the user's preference to use the toJSON method. It's good to provide the user with a choice.

Also - as a side note, you left a `console.log` in your code

[2017-09-11 19:37] juanjoDiaz commented on #60
damn! good catch...
Some eslint would have been useful here...

Yeah. Certainly the scope is small. The idea was to modify just the minimum and cover the most possible cases. As I mention in the PR, 'm happy with any solution that cover this use case :)

[2017-10-16 00:40] mxl opened #65 "Custom delimiter function"
**Proposal**

Support passing `(string, string) => string` function as a delimiter option.

For example, for object:
[code]

and `delimiter`:
[code]

it will produce camel case names:
[code]

[2017-10-26 13:38] shishir99111 opened #66 "Blank array not flattened!"
I'm using flat module for preparing object to store data in Redis DB. (Redis doesn't allow array and nested object )
Now, the Issue is Flat doesn't do anything to blank array.
E.g.
[code]

this gives me error on Redis. Can Flat module help me with this?

[2017-10-26 14:10] aecepoglu commented on #66
And what should flat do instead? Remove the empty array?

[2017-10-26 16:01] shishir99111 commented on #66
@aecepoglu not sure whether this module is intended to achieve it or not.
But, I required my JSON Object should be flat (no nesting of object, no array inside the object. not even if it is blank).
So, i think there should be a notation which will point as blank object.

[2017-10-30 15:58] mxl commented on #65
@hughsk WDYT if I'll prepare such PR?

[2017-12-11 20:21] antony commented on #63
I've decided to fork and republish as I get the feeling that this project is abandoned.

I've re-released as flatley. If your problem isn't fixed by my version - open an Issue there (ideally with a reproduction) and I'll do my best to fix it.

https://www.npmjs.com/package/flatley
https://www.github.com/antony/flatley

Enjoy!

[2017-12-11 20:23] antony commented on #60
I've decided to fork and republish as `flatley`, as I get the feeling that this project is abandoned.

https://www.npmjs.com/package/flatley
https://www.github.com/antony/flatley

Let me know if you have further issues (ideally provide me with a reproduction) and I'll endeavour to fix them.

[2018-01-17 22:27] joncursi opened #67 "[React Native > Android]: TypeError: Requested keys of a value that is not an object."
[code]

On React Native > iOS, this returns `{}`. But on React Native > Android, this errors with:

`TypeError: Requested keys of a value that is not an object.`

[2018-02-06 21:57] kensplanet opened #69 "How do I use this library in an Angular project?"

[2018-02-08 13:33] twhitbeck commented on #22
We're moving off this library because of this issue.
One possible fix: use a different delimiter for arrays.

[code]

could yield
[code]

[2018-02-20 07:08] kristianmandrup commented on #65
I need the camel case option as well. We need this functionality for better customisation of key names than a simple separator!

[2018-02-20 07:12] kristianmandrup commented on #65
There is a snake case variant [here](https://github.com/clearbrain/flat/commit/cb87c1ad81aa31fa8754be76252408541c85f424)

[2018-02-20 09:01] kristianmandrup commented on #65
I complete rewrote flat as flat2 here: https://github.com/kristianmandrup/flat2

Includes loads of customisation options for custom key generation and transforms to fit any such scenario. Now `snakecase` and `camelCase` options come built in as well ;)

[2018-04-26 16:16] ianstormtaylor commented on #24
Also wishing this was supported, just realized my own logger has the same issue.

[2018-06-13 17:12] king-kay commented on #66
I know I'm a a little late to the party. @shishir99111 I don't think Flat is supposed to do that. It does what it's supposed to do - flatten objects, and not remove empty arrays from flattened objects.
If you don't want empty arrays in your flattened object (for some reason), it's left to you to cycle through the flattened object and perhaps delete properties whose values are arrays.
P.s. if you d

[2018-06-13 17:14] king-kay commented on #67
@joncursi  Why would you even want to flatten a number in the first place?

[2018-06-13 17:20] king-kay commented on #69
Check out this link: https://stackoverflow.com/questions/34329517/how-to-use-npm-module-in-angular
It describes how to use  "braintree-web" but the steps are the same for any other npm module (including this one)

[2018-06-13 19:50] joncursi commented on #67
@king-kay I am flattening a payload from an API. I cannot determine the structure of that payload ahead of time., so sometimes it is a number instead of an object.

[2018-06-13 22:45] king-kay commented on #67
@joncursi  Oh okay. Is the issue the incoherent behavior of Flat in React Native?
Because Ideally, calling `Object.keys` (which is used by flat internally) on a number should return an empty array which would explain the empty object in React Native > IOS. Are you absolutely sure the same is not the case for android?

[2018-06-19 21:22] zeke opened #71 "CLI"
Hi, @hughsk 👋

Just thinking it would be cool to be able to `npx flat some.json`

[2018-07-02 07:53] #71 closed

[2018-07-04 03:23] bugs181 opened #73 "Permission to use in an MIT licensed project"
I'd like to have your formal consent to add this dependency to a project which is licensed under the MIT license.

Project:
[expressive-middleware](https://github.com/bugs181/expressive-middleware)

License:
[MIT License](https://github.com/bugs181/expressive-middleware/blob/master/LICENSE)

[2018-07-06 21:38] lucas-rudd opened #74 "Flatten does not flatten empty objects or arrays"
Issue:

Suppose I have the following object

`{
  "foo": {
    "bar": "hello-world"
  },
  "data": {},
  "tests": []
}`

I would expect this object to be flattened if I need it for some sort of operation which does not support complex objects.
Perhaps it would be flattened in this way
`{
  "foo.bar": "hello-world",
  "data": "{}",
  "tests": "[]"
}`

Or, perhaps there is a better way to do this; b

[2018-07-10 13:35] lucas-rudd commented on #66
I've opened up a similar issue regarding this.
Flatten does the same thing with empty objects, where `a` is an object instead of an array.

Because of this, the object returned is not 'flattened', as an empty object is still nested within the original object.

This is causing us some issues as well, and we have written code to go through and remove these (they aren't needed in our specific case) b

[2018-07-10 13:53] aecepoglu commented on #74
If you have a sensible proposition for how empty arrays and objects should be treated, I'll quickly fix this for you.

[2018-07-10 14:14] lucas-rudd commented on #74
Sure... I don't know if this is sensible, and I understand the complexity in this issue, but what about something like

[code]

and

[code]

to indicate that we have an empty object/array.

I understand this is an odd case, because it requires some semi-unique value to indicate that the unflattened object should contain an empty nested object/array, rather than interpreting the string literally. I

[2018-07-10 17:18] lucas-rudd commented on #74
Actually, now that I think about it; instead of altering the value, it may be more consistent with how flatten currently works to alter the key instead of the value.

That is, since this:
[code]
flattens to this
[code]

It may make more sense to flatten this
[code]
to this
[code]

[2018-07-10 21:56] aecepoglu commented on #74
I feel the flattening operation should refrain from modifying the values. Maybe removing the key that points to the empty object is more desirable. This behaviour could be controlled via an option.

[2018-07-10 22:37] king-kay commented on #74
@aecepoglu I don't quite agree. The whole aim of flattening is just to well, flatten, and not modify the object graph in the process i.e all keys present before flattening must be present after flattening. Also, the developer may have some library that consumes the new object and requires that the keys (empty or not) be present. IMHO, I feel using a string to mark an empty key is a much better app

[2018-07-10 22:49] lucas-rudd commented on #74
The only problem I have with removing the key altogether, is that an empty object is a 'truthy' value in javascript, whereas a null value is not. So, if I were doing something like
[code]

Then if `key` is an empty object, this statement would evaluate to true. Removing it causes this to evaluate to false.

Similarly, modifying something like this
[code]

To this

[code]
(where the key is a dot b

[2018-07-11 05:38] aecepoglu commented on #74
My 2 points to make are:

1. `unflatten(flatten({a: {}}))` is ambiguous when you use a special token
2. Altering the values does alter the value of what that object represents. Imagine using the output of flatten() as a mongodb query.

[2018-07-11 09:01] king-kay commented on #74
This is clearly an edge case and people have different ways of dealing with edge cases - so why not let them?

I think we should let the user specify a callback (maybe in the options object) which is called whenever an empty key is encountered during flattening. The callback could then return a value which is assigned to the key. That way, the user is in complete control over what happens.

As a p

[2018-07-11 09:54] king-kay commented on #74
Looks good! @lucas-rudd  what do you think?

[2018-07-11 14:01] lucas-rudd commented on #74
I think that's a brilliant idea!

[2018-07-11 14:41] king-kay commented on #74
A ha! I had the exact same thoughts.

It's clear that for every callbacks that are registered to mutate the object while it's flattening should have an "opposite" which does well, the opposite during the unflattening process. Otherwise, we would have an object that when flattened and unflattened does not equal the original object.

I think we could use a "Resolver" object that contains two functio

[2018-07-11 16:22] lucas-rudd commented on #74
@king-kay could you elaborate a tad? I'm having trouble understanding how that would look.

I also think that a default callback should be provided by the framework in the form of this flag.

As it stands, when the user calls `flatten` they expect their object to be flat. Meaning that it is a single layer deep. Currently, this library does not do that. I think it would be better to provide some de

[2018-07-11 16:31] lucas-rudd commented on #65
@mxl how would you handle the case where the object looks like so?

[code]

Now you have the key-value pair

`firstFOurth: "foo"`

How will this be unflattened? Or, how will you determine whether or not this is `first.fOurth` or `first.f.ourth`?

[2018-07-11 18:53] aecepoglu commented on #74
I have did the flattening bit but the unflatten code is a tad bit uglier so it'll take some more time.

And still @lucas-rudd , I'm in favour of removing empty objects since they represent nothing logically. Because different people will have different behaviours in mind when they want to flatten something which can't be flattened without being presumptuous, I want it to be the callback way.

[2018-07-12 21:47] lucas-rudd commented on #74
@aecepoglu let me know if you need any help or if I can contribute in any way. I would love to get this knocked out sooner rather than later.

[2018-07-18 14:41] nmaves opened #76 "Changelog or release notes"
You really should add a changelog file or at least release notes on the releases tab in GitHub to communicate your changes to everyone.

[2018-07-21 09:05] aecepoglu commented on #74
@lucas-rudd my branch is at https://github.com/aecepoglu/flat . The feature is added to flattening, but not unflattening. I have written tests for both cases; so if you can send me a PR which makes both of them pass we can be done with this.

[2018-08-17 06:50] flight9 commented on #43
I don't think sorted by length is always a good idea. Is there a way to close this feature and use original order?

[2018-08-22 20:18] veeramarni opened #77 "how to exclude the values"
How to exclude unflattening the values of the key?

[code]

Output:
----
[code]

Expectation
---
[code]

[2018-08-26 20:12] AJB99 opened #78 "Deeply Nested Array Being Coerced Into Object"
hi there,

I've come across what I believe is a bug. I start with an object that has an array of strings nested a couple levels from the top (the `attachments` array).

But, once I flatten the object and save it in MongoDB, the result is that the `customers[0].names[0].attachments` array has been coerced into an object for some reason:

**BEFORE**
[code]

**AFTER**
[code]

Is this the expected beh

[2018-08-28 21:32] AJB99 commented on #78
Nevermind ... just found the 'safe' option in the docs. Apologies for the false report. Closing this.

[2018-08-28 21:32] #78 closed

[2018-08-31 17:50] wvh opened #79 "Escape keys with delimiters"
Shouldn't there be a way to escape those keys that have the delimiter inside?

Paths in [json-pointer format](https://tools.ietf.org/html/rfc6901#section-3) use ~0 and ~1, which can be done in a [one-liner](https://github.com/manuelstofer/json-pointer/blob/master/index.js).

[2019-01-18 10:09] antony commented on #79
This can be done with the coercion feature in https://www.npmjs.com/package/flatley

[2019-01-18 10:10] antony commented on #77
See the coercion feature in https://www.npmjs.com/package/flatley

[2019-02-04 15:17] Darkilen commented on #48
This issue should be closed. She was resolved more than 2 years ago. (#47)

[2019-02-20 17:35] sgrasso commented on #24
I would suggest sanitizing the data prior to calling Flat.

You can use something like fast-safe-stringify and follow their replacer example. It will still keep it as an object but will replace the circular reference with "[Circular]" `{"a":1,"o":"[Circular]"}`
[https://github.com/davidmarkclements/fast-safe-stringify#readme](url)

[2019-03-24 23:35] kylecordes commented on #74
Here's an example case for this issue comes up: some downstream code simply does not tolerate nested objects. So the developer (me in this case) goes looking for a library/function to flatten objects and make this not happen. This library is 99% of the way there, aside from this quite surprising case where some objects sail right through, un-flattened, still containing nested objects causing downs

[2019-05-28 10:39] lenchvolodymyr commented on #43
Sorting keys breaks an order:

f = require('flat');
console.log(
	Object.keys(
		f.unflatten(
			f.flatten({
				a: 1,
				abcdefg: 1,
				d: 1
			})
		)
	)
);

expected [ 'a', 'abcdefg', 'd' ], but appears [ 'a', 'd', 'abcdefg' ]

[2019-05-31 04:37] yelhouti commented on #74
@lucas-rudd , thr PR by @aecepoglu looks great to me and is consitent with how stringify wokrs, could you merge it please?

[2019-05-31 13:46] lucas-rudd commented on #74
@yelhouti 	I do not see that PR. Plus, I am not the owner of this repository and do not have merge privileges :( sorry to disappoint.

[2019-05-31 20:40] aecepoglu commented on #74
hey, I got bored of the PR making no progress and closed it. the code is still there. our projects are dependant on my fork so the code is there to stay. You're welcome to use the fork, open prs for other awaiting issues, etc

Github.com/aecepoglu/flat

[2019-06-01 00:58] yelhouti commented on #74
@timoxley can we use your help here please?

[2019-06-04 13:21] Migaelh opened #85 "Flatten arrays to string"
Hi, I have a unique use-case, I am currently building a dynamic table based on an object's keys. So this does not work correctly when the object has an array associated with it. Would it be possible to add an additional parameter to specify that arrays should be strings with the safe option associated?

for example:
`flatten({
  title:'Hello world',
  countries: ['ZAF','USA','GRL']
}, {
  safe:tru

[2019-06-30 14:06] antony commented on #85
Hi @Migaelh - I have added this functionality in my own (released) fork. I think this project is abandoned.

https://github.com/antony/flatley

[2019-06-30 14:16] Migaelh commented on #85
Thanks @antony, i also made a fork with this functionality

[2019-08-09 17:00] ash0080 opened #86 "heap out of memory"
<--- Last few GCs --->

[4742:0x110000000]    13658 ms: Mark-sweep 1388.1 (1425.4) -> 1387.6 (1425.4) MB, 94.9 / 0.0 ms  (average mu = 0.144, current mu = 0.047) allocation failure GC in old space requested
[4742:0x110000000]    13907 ms: Mark-sweep 1387.6 (1425.4) -> 1387.6 (1425.9) MB, 233.0 / 0.0 ms  (average mu = 0.095, current mu = 0.062) allocation failure GC in old space requested

<--- JS

[2019-09-19 19:49] FredyC commented on #86
The same thing just happened to me as well. I am using `winston-logsene` library which has `flat` as a dependency. It mostly happens on app regular error where I am dumping a whole object. It certainly shouldn't be causing such wild crash, but I will surely limit on what I am going to be passing in there.

![image](https://user-images.githubusercontent.com/1096340/65275975-1db32d00-db27-11e9-8d94-

[2019-10-14 01:08] resistdesign commented on #79
@hughsk I'm looking to encode each key as a URI Component, before interpolating `/` as a delimiter, in order to be completely safe with path delimitation. I would like to see the feature in this utility as well.

[2019-10-14 02:08] resistdesign commented on #79
@hughsk Here is the PR for this feature: https://github.com/hughsk/flat/pull/88

[2019-10-22 23:08] amitrai99 opened #89 "Flatten starting at a specific level"
Hello,

First thanks for such a great library!

I was wondering if there is a config that will allow me to flatten my JSON file starting at a specific depth instead of always flattening from the root to leaf.

Use case:

Input:

[code]

Output:

[code]

[2019-10-25 02:25] resistdesign commented on #79
@hughsk I think the `transformKey` feature closes this issue.

[2019-10-28 13:22] abitrolly opened #90 "CDN // browserify version"
https://cdn.jsdelivr.net/npm/flat@5.0.0 can not be used without Node, because it contains at least `require` call, and using it in browser javascript console would be very convenient for debugging.

[2019-11-01 04:47] oprogramador opened #91 "migration guide v4 -> v5"
Could you publish a migration guide explaining how to correctly upgrade `flat` from v4 into v5?

At https://github.com/hughsk/flat/releases I see only an announcement of `5.0.0` with no info about breaking changes but I'd like to ensure.

[2019-11-12 18:44] christianbundy commented on #91
Same, I've skimmed the changes but can't find the breaking change.

https://github.com/hughsk/flat/compare/4.1.0...5.0.0

[2019-12-19 09:12] yvele commented on #91
Yep and please write a changelog (in the GitHub release notes https://github.com/hughsk/flat/releases/tag/5.0.0)

What exactly is breaking in 5.0.0?

[2020-01-25 22:32] cmeeren opened #94 "Does unflatten enter into infinite recursion on function or array members?"
I'm using this library in an F# project (transpiles to JS through using Fable). So unfortunately I have no JS repro (I'm not a JS dev).

`unflatten` is mostly working fine, but it seems to enter into infinite recursion on some objects. This happens even when there is seemingly nothing to unflatten.

I have an array of key-value pairs (React props) that I'm converting into an object, and then I'm u

[2020-01-26 10:06] cmeeren commented on #94
Edit: I think perhaps the problem might be that it recurses into the `children` prop. I'll investigate some more.

[2020-01-26 11:11] cmeeren commented on #94
I think I have a solution. For my use-case, I simply need `unflatten` to not recurse on this line:

https://github.com/hughsk/flat/blob/6e95c4327376fd83c95849e778273c96e591ca06/index.js#L144-L145

Would it be possible to add an option that controls this?

[2020-02-05 19:54] cmeeren commented on #94
I decided to implement my own `unflatten` instead. Feel free to close if you want.

[2020-02-10 17:47] bkbartonDesign opened #95 "Arrow function breaks in IE."
A single arrow function is breaking functionality in < IE11.

`target = Object.keys(target).reduce((result, key) =>`

I am using this module in the browser for a angular/typescript app.

[2020-02-20 01:32] jackwlee01 commented on #95
You need to a polyfill for Object.keys for IE11.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys#Polyfill

[2020-02-25 11:03] ossman11 commented on #91
When looking at the https://github.com/hughsk/flat/compare/4.1.0...5.0.0 compare the main point is probably the [```const```](https://github.com/hughsk/flat/compare/4.1.0...5.0.0#diff-168726dbe96b3ce427e7fedce31bb0bcR22-R26) usage instead of the ```var``` which limits the ```Node``` versions or ```browsers``` supported.

[2020-02-25 18:11] ftes commented on #95
IE11 supports `Object.keys`. https://caniuse.com/#feat=es5

The issue, as stated in @bkbartonDesign 's description, is the arrow function.

[2020-03-02 10:27] fedevitch commented on #95
Got the same issue, had to downgrade to 4.1.0 for resolving this.
If you guys approve pr with fix for this https://github.com/hughsk/flat/pull/92 that would be great

[2020-03-07 22:13] sorahn opened #96 "Possible to allow key's with '.'s in them?"
I'm looking for a way to preserve keys that have `.`s in to use the same syntax as lodash's set/get.

Ideally something like this:
[code]
The problem I've found with using the `transformKey` option is they still get the `.` joining them.

I have this:
[code]

But the output looks like this. (extra `.` after `some`)
[code]

I've worked around the issue for now by looping through the flattend data a

[2020-03-12 16:01] rgraffbrd commented on #96
@sorahn I think a feature would need to be added. But if you can use this package to unflatten as well, then you could just use a different `delimiter` like `/`. In which case, without `transformKey`, you would get:

[code]

[2020-03-13 06:29] sorahn commented on #96
@rgraffbrd Hmm, that might work.  I'd have to think through it.  We feed the flattened data into formControlNames (angular), then use lodash for updates (`set/omit` fields) and comparisons to the original data (`get`).

[2020-03-13 16:53] rgraffbrd commented on #96
@sorahn Not up on my Angular, but are you essentially saying that you set a form control's name to the _full path_ and then, using lodash, you patch the original data/object structure from a flattened object with the changes?

[2020-03-17 07:05] Ghost---Shadow opened #98 "Feature request: Flatten __proto__"
[code]

Should flatten to

[code]

We can have a flag like `extraKeys: ['__proto__']`

[2020-03-17 10:15] sorahn commented on #96
Yes that's pretty close.  We flatten the object.  and use the path as the form name for angular to manage.  so roughly `<input name="foo['bar.baz']">`,  Then we listen to all the form value changes where you get a callback that looks something like this.

[code]

[2020-03-18 21:56] sunknudsen opened #99 "Who is down for a minDepth option?"
This would complement `maxDepth` in a coherent way.

# minDepth

Number of nested objects to skip before flattening others.

[code]

[2020-05-13 10:53] waji-io commented on #99
Would love to see this option as well.

[2020-07-09 11:01] muuvmuuv opened #101 "ES Module Syntax Support"
Would be great if flat can be imported as ES modules.

Ref: https://github.com/ngneat/transloco/issues/301

[2020-07-17 19:26] TLPcoder opened #103 "unflatten object with number as key replaces object with an array of n number length"
I have a use case where i always have to unflatten a json object and i dont know if that object is already unflattened. If there is a number for an object key unflatten method create and array which replaces the original object and the array length matches the number plus one. With the last element being the element originally stored by the key. This happens only for nest objects not root level.

[2020-07-18 15:44] po6ix opened #105 "Prototype Pollution"
This module has prototype pollution vulnerablity
and it can make logic vulnerability in application use this

[code]

[2020-08-04 13:32] jottinger opened #107 "Add transformFirst option to allow modification of key to provide first key capability"
I will be submitting a PR momentarily.

Example code for flatten, including CURRENT transformKey:

[code]

Example code for unflatten:

[code]

[2020-08-06 15:14] #105 closed

[2020-08-17 09:11] xPaw opened #110 "There is no 4.1.1 on npm"
`warning mocha > yargs-unparser > flat@4.1.0: Fixed a prototype pollution security issue in 4.1.0, please upgrade to ^4.1.1 or ^5.0.1.`

But there is no 4.1.1 to update to. https://www.npmjs.com/package/flat/v/4.1.1

[2020-08-21 06:06] rockmandash opened #111 "Should provide ES5 syntax build."
There are lots of build tools that still don't support modern build.

![image](https://user-images.githubusercontent.com/7580792/90857790-759d8800-e3b7-11ea-8d61-dc0d4f086644.png)

[2020-09-08 11:26] airtonix commented on #103
experiencing this too.

https://runkit.com/airtonix/flat-number-key-results-in-array-tests

[code]

[2020-09-21 08:07] DevRCRun commented on #110
Same is true of 4.1.2

[2020-09-23 09:40] waldemarnt commented on #110
same here, any news?

[2020-10-13 17:57] Hypnosphi commented on #110
@timoxley can you please comment on that?

[2020-10-14 15:24] timoxley commented on #110
Fixed. 4.1.1 published.

There was never a 4.1.2.

[2020-10-14 18:33] AviVahl commented on #110
@timoxley `latest` now points to 3.0.1 instead of 5.0.2 :o

[2020-10-15 00:22] timoxley commented on #110
Ugh I thought npm fixed that so it wouldn't update the latest tag to an older version

[2020-10-15 00:22] timoxley commented on #110
Will fix,

[2020-10-15 01:26] timoxley commented on #110
Fixed

[2020-10-15 01:26] #110 closed

[2020-10-19 16:05] 9thstudio opened #114 "Deep Nested Objects"
Hi
I have deep nested objects but looks unflatten just deep down to 3 levels. Let me know if I am missing something
[code]
results in
[code]
Can't get value down to sub4 or below. It always shows [Object]. Is there a limit?

[2020-10-29 14:03] tangkhaiphuong opened #115 "What option to make difference between object & array"

[2020-11-05 15:08] yashinnhl opened #116 "Possible to keep parent key"
Hi I want to keep parent key and all its children as stringified JSON, is it possible to do that with flatten:

Example {
a : 'blah',
data : {
  a : 'sth',
  b: 'sth'
}
}
------------------------------
// expected output
/* {
a: 'blah',
data: `{
   a: sth,
   b: sth
}`,
data.a = sth,
data.b = sth
}
*/

I really appreciate if you can guide me here? Thanks

[2020-11-05 15:18] yashinnhl commented on #116
i know we can add it to dictionary whenever is object but want to know is there better way to do that?
if (isobject) {
        // add first level keys exp: data , data.object
        output[newKey] = value;
      }

Also, I can add it as an option for example {keepParentKeys : true}  to do not run it every time?

[2020-11-09 23:23] kamalyzl opened #117 "High severity vulnerability detected"
A security assessment was performed and vulnerabilities

Standards and Best Practices

    OWASP 2017
        A9 - Using Components with Known Vulnerabilities
    PCI 3.2
        6.2 - Known Vulnerabilities

Please, help!

[2020-11-12 18:09] ZitRos opened #118 "Why cats are also flattened? 🐈"
Hello! Thanks for the great and popular library.

This is a kind of library design-level question.

## The code:

[code]

## Expectation

[code]

## Actual result

[code]

![image](https://user-images.githubusercontent.com/4989256/98976140-a953fe00-251f-11eb-9a4e-01f122682214.png)

## Question

Why flatten any non-Object-prototype objects? I.e. why not only objects that satisfy `Object.getPrototyp

[2020-11-13 22:59] giorgosera commented on #116
Hey @yashinnhl ! I'm also interested in this.
I'm not sure I understood your second comment! What do you mean by dictionary?

[2020-12-02 17:07] yashinnhl commented on #116
Hey @giorgosera  I edited my comments. Sorry for confusion. In general, I mean we can keep first level keys just like an example even if they are object.
consider this :
[code]
Can be converted to :
[code]
To achieve this, we need to add condition -  if (isObject) - to the index, and  output[newKey] = value will keep parent key for us.
For example, value = { a: sth, b: sth } will be assigned data

[2020-12-08 16:31] MattJLeach commented on #115
@tangkhaiphuong

I've got the same issue so I've played around with the flatten function to get it working. I've taken out the opts for now to keep it simple (and done it in typescript). If I get a chance to put the opts back in I'll do a PR. The main issue is with the delimiter option as you now have 2 ('.' for object and brackets for an array).

Here's what I've got:
[code]

I'm looking at the u

[2020-12-17 01:32] cynsupercat commented on #117
Hi guys,

We also have the same issue -- [prototype pollution](https://www.sourceclear.com/vulnerability-database/security/prototype-pollution/javascript/sid-27574). Wonder if there would be any ETA to this?

[2020-12-30 10:34] dennisMeeQ commented on #118
First of all +1 for the cats 🤣

But on a serious note: Came here to look for a solution for exactly @ZitRos 's problem. I was happily flattening objects before throwing them into mongo/mongoose updates until I stumbled upon this behaviour.

[2021-01-28 02:48] 989919259920 commented on #105
خوب و عالی و بهتر است

[2021-03-03 17:27] qu-y commented on #99
I'm looking for this option as well. I intend to convert my data to csv, and need to keep first level as headers, but the default flatten everything using the index 0,data 1.data ... etc

[2021-03-04 13:53] LarsRefsgaard opened #119 "Deno support"
Please add this module to deno on deno.land/x

[2021-03-06 22:02] Soremwar commented on #119
Don't know if it's a joke, but this is already available through NPM compatibility

[code]

[2021-03-10 18:47] joneldiablo opened #120 "maxDepth unflatten"
the option maxDepth is not available in unflatten?

[2021-06-06 19:40] anujkaushal opened #125 "High security vulnerability in 4.1.1"
[4.1.1](https://github.com/hughsk/flat/tree/4.1.1) have high security vulnerability which is being used by latest version of [Theia](https://github.com/eclipse-theia/theia) in a deep dependency
Theia package [electron-mocha](https://github.com/eclipse-theia/theia/blob/master/yarn.lock#L4066-L4067) is using flat in a deep dependency, see the tree below.
![image](https://user-images.githubuserconten

[2021-07-30 19:38] yukienomiya opened #127 "Unflatten method doesn't work with "toString" key"
### Problem

The `unflatten` method doesn't work with a key named `toString`.

For example, starting with this object:
[code]

Then flatten it:
[code]

And then unflatten it:
[code]
The `toString` key disappears.

### Workaround
I ended up adding a prefix to all the keys while flattening the object (with the `transformKey` option), and then removing it after unflattening it again. To remove the pr

[2021-08-27 05:41] willgarcia opened #130 "Unflatten partial arrays"
Flattened arrays with indexes that don't start at 0 can't easily be unflattened.

Example:

[code]

The output is:

[code]

Is there a way to retrieve an unflattened version of `testData` that does not contain a "null" item? The result I'm trying to achieve is:

[code]

The reason my indexes don't start at 0 is because the algorithm I'm building is filtering items in arrays, so it is expected to h

[2021-12-17 02:57] JoshMerlino commented on #117
PwnFunction just made a great video explaining this vulnerability. Here it is for those who are interested. https://youtu.be/XS_UMqQalLI

[2022-03-19 15:10] kapouer commented on #98
A very good way to [shoot yourself in the foot](https://blog.p6.is/Real-World-JS-1/)

[2022-03-22 07:26] Ghost---Shadow commented on #98
@kapouer
![Screenshot 2022-03-22 082624](https://user-images.githubusercontent.com/7743925/159429103-b178d9c4-2888-426e-95a0-76d21b31a9c6.png)

[2022-08-02 10:35] edewit commented on #49
right it would be nice if `unflatten` would allow for this maybe by adding a function to calculate the new key on collision:

[code]

[2022-08-03 10:00] jonkoops opened #137 "Need a maintainer?"
Hi, I notice that this library has a lot of open issues and PRs. We're using your library here at Red Hat for our [Keycloak product](https://github.com/keycloak/keycloak-admin-ui/) and I'd love to give back and help out with maintenance.

Let me know if you are interested, if so you can add me as a collaborator!

[2022-08-03 10:00] jonkoops commented on #137
ping @hughsk

[2022-08-03 13:13] timoxley commented on #137
I'd be happy to add you as a maintainer if @hughsk is.

[2022-08-04 15:39] jonkoops commented on #137
Great, while we wait on that I can already start opening some PRs to can improve things.

[2022-08-14 10:27] jonkoops commented on #137
@timoxley I haven't gotten a response from @hughsk yet (also sent him an e-mail). What do you think would be the best way to proceed? Perhaps you can add me as a collaborator anyways?

[2022-08-16 10:40] timoxley commented on #137
@jonkoops I would if I had the permissions.

[2022-08-18 14:53] jonkoops commented on #137
I just got permissions so I will close this issue :+1:

[2022-08-18 15:00] jonkoops opened #141 "Rename `master` branch to `main`"
See: https://github.com/github/renaming

[2022-08-26 15:58] jonkoops commented on #119
There is currently no intention to publish this module directly for Deno (disregarding the fact someone already claimed [`flat`](https://deno.land/x/flat)). Like mentioned before this package can be loaded from any 3rd party CDN that uses the NPM registry.

That said, the next version will land extra bits to better support ES modules and TypeScript support. Which should help with Deno as well. Esp

[2022-08-26 15:58] #119 closed

[2022-08-26 15:59] jonkoops commented on #95
We no longer provide support for Internet Explorer, and neither does Microsoft at this point.

[2022-08-26 15:59] #95 closed

[2022-08-26 16:02] jonkoops commented on #125
Closing this issue as this has been resolved.

[2022-08-26 16:02] #125 closed

[2022-08-26 16:03] jonkoops commented on #101
This has been fixed by #149.

[2022-08-26 16:03] #101 closed

[2022-08-26 16:05] jonkoops commented on #91
Version 6 will be released soon and will include a proper migration guide. There should be no breaking changes for version 5 besides usage of newer JavaScript syntax.

[2022-08-26 16:06] jonkoops commented on #111
There is no intention to revert back to older ECMAScript syntax. I recommend that you update your tooling instead, and optionally transpile your code if you need to support older runtimes.

[2022-08-26 16:06] #111 closed

[2022-08-26 16:08] jonkoops commented on #76
Agreed, we will do better in the future. Duplicate of #91.

[2022-08-26 16:08] #76 closed

[2022-08-26 16:08] #117 closed

[2022-08-26 16:10] jonkoops commented on #98
I don't see a good reason to implement this, these are reserved parts of an object and should not be considered serializable. For example `JSON.stringify()` also ignores these values.

[2022-08-26 16:10] #98 closed

[2022-08-26 16:14] jonkoops commented on #73
There is no intention to dual license this package or to convert the license. The [BSD-3-Clause license](https://github.com/hughsk/flat/blob/master/LICENSE) is more than free enough for what you intend to do.

[2022-08-26 16:14] #73 closed

[2022-08-26 16:16] jonkoops commented on #63
As mentioned before please ensure your file is encoded in the UTF-8 format.

[2022-08-26 16:16] #63 closed

[2022-08-26 16:20] jonkoops commented on #54
I agree with @antony here. If you want to use a custom delimiter you can pass the `delimiter` option.

[2022-08-26 16:20] #54 closed

[2022-08-26 16:23] jonkoops commented on #51
Closing this issue as it is too abstract to really put some tasks on it. We have since re-written the source to use modern ECMAScript syntax (including modules).

Feel free to open up any PRs you think can improve the code.

[2022-08-26 16:23] #51 closed

[2022-08-26 16:24] jonkoops commented on #40
Closing this due to lack of responsiveness from the author. I am not able to reproduce this.

[2022-08-26 16:24] #40 closed

[2022-08-26 16:25] jonkoops commented on #45
Closing this as the issue was reported for currently ancient versions of Node.js and it is no longer possible to reproduce this. As far as I can tell this behavior is consistent in modern version of Node.js.

[2022-08-26 16:25] #45 closed

[2022-08-26 16:26] jonkoops commented on #48
Closing for reasons mentioned above.

[2022-08-26 16:26] #48 closed

[2022-08-26 16:26] jonkoops commented on #52
Going to close this as this is not an actionable issue. Still cool though!

[2022-08-26 16:26] #52 closed

[2022-08-26 16:27] jonkoops commented on #50
Closing this for reasons mentioned above.

[2022-08-26 16:27] #50 closed

[2022-08-26 16:28] jonkoops commented on #67
Closing this issue due to lack of response from the author. Also this looks to be an implementation detail of React Native that has probably been ironed out since.

[2022-08-26 16:28] #67 closed

[2022-08-26 16:30] jonkoops commented on #69
Closing this as an answer has been provided.

[2022-08-26 16:30] #69 closed

[2022-08-29 18:59] joneldiablo opened #152 "[question] how could we define don't flat some specific object by the key?"
how could we define don't flat some specific object by the key?

for example:

[code]

[2022-09-16 06:41] Pranayk786 opened #153 "[CVE-2022-37518]/prototype-pollution found in index.js"
Prototype pollution vulnerability in function flatten in index.js in hughsk flat 2.0.1 via the newKey variable in index.js.

The prototype pollution vulnerability can be mitigated with several best practices described here:
https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-09-17 10:13] seravifer commented on #101
Thanks @jonkoops! Do you know when it will be released?

[2022-09-20 10:17] jonkoops opened #156 "Release version 6"
Version [`6.0.0`](https://github.com/hughsk/flat/commits/v6.0.0) has been tagged and needs to be published to NPM. @hughsk can you run a publish?

[2022-09-20 10:19] jonkoops commented on #156
The draft for the release notes can be found under the '[Releases](https://github.com/hughsk/flat/releases)' tab.

[2022-09-20 10:19] jonkoops commented on #101
@seravifer I do not have permission to publish, but I have asked @hughsk to do a release (see #156).

[2022-10-11 10:01] narkiss-ibex commented on #114
I have the same issue. did you manage to solve it by any chance?

[2022-10-11 11:19] jonkoops commented on #114
The problem is with your input. There are duplicate entries for `sub1.sub2`, one of them being the value `'abc'` and the other is `sub1.sub2.sub3`. Since `sub1.sub2` is already a string value it cannot also be an object.

[2022-10-11 11:19] #114 closed